<section>

    <script>
    //Search Bar
    //https://www.w3schools.com/howto/howto_js_filter_lists.asp
    function search() {
        search_input = document.getElementById('search_bar');
        display= document.getElementById('item_display').children;
        search_filter = search_input.value.toLowerCase();
        for(i=0; i < display.length; i++){
            item = display[i].id.toLowerCase();
            item.indexOf(search_filter)!=-1?display[i].style.display="": display[i].style.display="none";
        }
    }
    </script>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow "> 
  <a class="navbar-brand ml-5" href="/">
  <span class="black-text">WebMart</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>   
  <div class="collapse navbar-collapse" id="navbarNav">
  <div class="collapse navbar-collapse" id="navbarNav">
  
  {{!-- All elements here appear on the left side of the navbar --}}
  <ul class="navbar-nav">
  </ul>
  
  {{!-- All elements here appear on the right side of the navbar --}}
  <ul class="navbar-nav ml-auto mr-5">
    <li class="nav-item ml-4">
    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ml-4">
    <a class="nav-link" href="/explore">Explore <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ml-4">
    <a class="nav-link" href="/itemListing">My Items<span class="sr-only">(current)</span></a>
    </li>
     <li class="nav-item ml-4">
    <a class="nav-link" href="/friends">Friends<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ml-4">
    <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ml-4  mr-4">
    <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
    </li>
  </ul>
  </div>
  </nav>

  <div class="content-wrapper"> 
    <br>
    <br>

    <h1>Explore</h1>   
    <hr><br>
    <div class="row" id = "SearchBarDiv">
        <div class="col">
            <form onsubmit="event.preventDefault()">
            <input class="form-control" type="search" id="search_bar" onkeyup="search()" placeholder="Search for items">
            </form>
        </div>
    </div>
        <br>

    {{!-- <h3>Explore</h3> --}}
    <div class="row" id = "item_display">
        {{#each item_list}}            
        <div class="col-md-3 border py-3 px-4" id="{{this.name}}">
            <div class = "text-center">
                <img class="item-small-pic" src="/images/item/{{this.image}}"  id=""></img>
                <h4>{{this.name}}</h4>
                <hr>
            </div>

            <div class="row">
                <div class="col">
                    <h5>Price: ${{this.price}}</h5>
                    <p>Sold by: {{this.seller}}</p>
                </div>
                {{!-- <div class="col text-center">
                    <a href="/item/{{this._id}}" class="btn btn-primary" role="button">See Item</a>
                </div> --}}
            </div>
            <p class="small">Listed: {{this.creationDate}}</p>
                <div class="row">
                <div class="col text-right">
                    <a href="/item/{{this._id}}" class="btn btn-primary btn-block" role="button">See Item</a>
                </div>
                <div class="col text-left">
                    <a href="/item/{{this._id}}/purchase" class="btn btn-primary btn-block" role="button">Buy Now</a>
                </div>
            </div>
            
        </div>
        {{/each}}
    </div>  
    
</section>