{{! PLACEHOLDER }}
<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow "> 
        <a class="nav-item ml-4 mr-4" href="/logout">
            <span class="nav-link">Logout</span>
        </a>
        <a class="nav-item ml-4 mr-4" href="/profile">
            <span class="nav-link">View Profile</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>   
        <div class="collapse navbar-collapse" id="navbarNav">
            {{!-- right side--}}
            <ul class="navbar-nav ml-auto mr-5">
                <div class="r-flex">
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-4 mr-4">
                        <a class="nav-link" href="/itemListing">My Items<span class="sr-only">(current)</span></a>
                    </li>
                     <li class="nav-item ml-4">
                        <a class="nav-link" href="/friends">Friends<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>

  <br> 
  <br> 

    <section class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Home Page</h2>
        </div>
    </section>
  {{!--- <div class="row">
        <div class="col-md-6 d-flex align-items-center">
                <h1><h1>Home Page</h1></h1>
        </div>
    </div> --}}

  <div class="content-wrapper"> 

  {{!--- PLACEHOLDER ITEMS ---}}
  {{!--- <a href="/listItems">ITEMS LIST</a>  ? ---}} 

  {{!-- PLACEHOLDER PROFILE PAGE 
  <a href="/profile">View Profile </a>
  &nbsp;--}}
  
  {{! -- PLACEHOLDER ITEMS LIST 
 <a href="/itemListing">View Items List</a>
    &nbsp;--}}

  {{!-- PLACEHOLDER LOGOUT 
  <a href="/logout">Logout</a>
    Small Space--}}
    <br>
    <br>   
    <h3>Current Items</h3>
        <div class="row">
            {{#each friendItems}}            
            <div class="col-md-4 debugBG">
                    <img src="/images/item/{{this.image}}"  id="profile-img" width="130px"></img>
                    <h4>{{this.name}}</h4>
                    <h5>Price : ${{this.price}}</h5>
                    <h5><P>Description of Item :</P></h5>
                    <p>{{this.description}}</p>
                    <p>Selling by : {{this.seller}}</p>
                    <p>Uploaded on : {{this.creationDate}}</p>
                    {{!--Here is fomring to buy items--}}
                    <form action ='/buyItem' method="POST" id="request-form">               
                        <input type = "hidden" value = {{this._id}} name ="item">
                        <input type = "submit" value = "Buy This" name = "buy">
                    </form>
            </div>
            {{/each}}
        </div>

        <center> 
     
        <div class="col-sm-9 debugBG">
            <br>
            <h3 class="white-text">{{userObj.username}} Friends </a></h2>
            <div class="row">

                <div class="col-xs-8 col-sm-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header"> <p class="card-text">friend1 username </p></div>
                        <div class="card-body">
                        <p class="card-text">description of what friend1 just bought.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            {{!--<div class="btn-group">
                            </div>
                            <small class="text-muted">9 mins</small>--}}
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header"> <p class="card-text">friend1 username </p></div>
                        <div class="card-body">
                        <p class="card-text">description of what friend1 just bought.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            {{!--<div class="btn-group">
                            </div>
                            <small class="text-muted">9 mins</small>--}}
                        </div>
                        </div>
                    </div>

                </div>

                 <div class="col-xs-8 col-sm-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header"> <p class="card-text">friend1 username </p></div>
                        <div class="card-body">
                        <p class="card-text">description of what friend1 just bought.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            {{!--<div class="btn-group">
                            </div>
                            <small class="text-muted">9 mins</small>--}}
                        </div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-4 col-sm-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header"> <p class="card-text">friend1 username </p></div>
                        <div class="card-body">
                        <p class="card-text">description of what friend1 just bought.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            {{!--<div class="btn-group">
                            </div>
                            <small class="text-muted">9 mins</small>--}}
                        </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <br> 
        <br> 

        <div class=".col-md-6 .col-md-offset-3 debugBG">
            <br>
            <h3 class="white-text">Recommended Items</h2>
            <p>...</p>        
        </div>

        </center>
  
</section>