{{! PLACEHOLDER }}
<section>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow "> 
        <a class="navbar-brand ml-5" href="/logout">
            <span class="black-text">Logout</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{!-- left side--}}
            <ul class="navbar-nav">
            </ul>
            {{!-- right side--}}
            <ul class="navbar-nav ml-auto mr-5">
                <div class="r-flex">
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/home"> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/home">Buy Items </a>
                    </li>
                    <li class="nav-item ml-4 mr-4">
                        <a class="nav-link" href="/createItem">Sell Item</a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
  
  <br> <br> 
  <div class="container"> 
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
                <h1><h1>My Items List</h1></h1>
        </div>
    
    {{!-- Small Space --}}
    <br>
    <br>
        {{#each myItems}}            
            <div class="col-md-4 debugBG">
                    <img src="/images/item/{{this.image}}"  id="profile-img" width="130px"></img>
                    <h4>{{this.name}}</h4>
                    <h5>Price : ${{this.price}}</h5>
                    <h5><P>Description of Item :</P></h5>
                    <p>{{this.description}}</p>
                    <p>Selling by : {{this.seller}}</p>
                    <p>Uploaded on : {{this.creationDate}}</p>
                    {{!--Here is fomring to delete items--}}
                    <form action ='/deleteItem' method="POST" id="request-form">               
                        <input type = "hidden" value = {{this._id}} name ="item">
                        <input type = "submit" value = "cancel" name = "delete">
                    </form>
                    <br> 
            </div>
        {{/each}}
    </div>

        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <h1><h1>Sold Item List</h1></h1>
            </div>
        
          
         {{#each soldItems}}            
            <div class="col-md-4 debugBG">
                    <img src="/images/item/{{this.image}}"  id="profile-img" width="130px"></img>
                    <h4>{{this.name}}</h4>
                    <h5>Price : ${{this.price}}</h5>
                    <h5><P>Description of Item :</P></h5>
                    <p>{{this.description}}</p>
                    <p>Selling by : {{this.seller}}</p>
                    <p>Uploaded on : {{this.creationDate}}</p>
                    {{!--Here is fomring to delete items
                    <form action ='/deleteItem' method="POST" id="request-form">               
                        <input type = "hidden" value = {{this._id}} name ="soldItem">
                        <input type = "submit" value = "cancel" name = "soldDelete">
                    </form>
                    --}}
                    <br> 
            </div>
        {{/each}}
        </div>
    </div>    
</section>